<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/index.css">
</head>
<body id="main_body">
<div id="container">
    {% for article in article_data %}
        <div class="divs">
        <h1>{{ article.title }}</h1>
        <h2> {{ article.author }} </h2>
        <p>{{ article.content }}</p>
        </div>
    {%  endfor %}
</div><br>
<a href="{% url "create_article" %}" title="CreateArticle">create your own article</a>


</body>
</html>