#main_body{
    background-color: #7ea2b4;
}

#container{
    width: fit-content;
    height: 450px;
    background-color: #00B0E8;
    border: solid blue 2px;
}

.divs{
    border: solid green 1px;
}